name: Bump

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Package"
        required: false
        type: choice
        options:
          - All packages
          - async
          - config
          - forge
          - git
          - github
          - http
          - testing
      prerelease:
        description: "Pre-release"
        required: false
        type: boolean

permissions:
  contents: write
  pull-requests: write

jobs:
  bump:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup
        uses: denoland/setup-deno@v2

      - name: Bump versions
        run: |
          if [ "${{ inputs.package }}" != "All packages" ]; then
            PACKAGE="${{ inputs.package }}"
          fi
          if [ "${{ inputs.prerelease }}" != "true" ]; then
            ARGS="--release --changelog=CHANGELOG.md"
          fi
          deno task forge bump $PACKAGE $ARGS --pr --emoji
        env:
          GIT_NAME: "${{ github.actor }}"
          GIT_EMAIL: "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
