name: CI

on: [push]

permissions: {}

jobs:
  test:
    strategy:
      matrix:
        component: [core, tool]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: denoland/setup-deno@v2

      - name: Test
        run: deno task ok ${{ matrix.component }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true

  build:
    strategy:
      matrix:
        component: [tool]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: denoland/setup-deno@v2

      - name: Build
        run: deno task -q forge compile ${{ matrix.component }}/*
